<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <style>
        p{
            width: 800px;
            margin-left: 80px;
            margin-top: 30px;
        }

        @media only screen and (max-width: 950px){
            p{
                width: 600px;
            }
        }
        
        @media only screen and (max-width: 716px){
            p{
                width: 60vw;
            }
        }
    </style>
</head>
<body>
    <%-include("header")%>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum repellendus obcaecati iste accusantium eligendi soluta magni exercitationem officiis atque non ut dolores fuga, tempora ipsam nihil? Delectus tempora ullam cum culpa maiores vitae architecto est perferendis dicta recusandae nihil soluta mollitia, placeat facilis quas. Doloribus aspernatur consequuntur voluptatum. Adipisci eum aliquam quia odit quaerat, quo suscipit. Eligendi ex voluptate harum, earum ipsum officiis ut nesciunt architecto laudantium, ad culpa assumenda!
    </p>
</body>
</html>